---
import CardTimeLine from "../CardTimeLine.astro";
---

<section class="w-11/12 m-auto flex gap-8">
  <div class="w-2/5">
    <article>
      <h4
        class="font-bold family-title text-4xl text-[#FF003D]"
        style="text-shadow: 2px 2px 15px #ff003c81;"
      >
        Experiencia
      </h4>
      <br />
      <p class="text-gray-300 text-sm">
        He trabajado en proyectos reales y simulados, donde además de programar,
        he liderado equipos, documentado software y aplicado metodologías
        ágiles. Actualmente, sigo formándome en ingeniería en sistemas, siempre
        buscando mejorar y aprender nuevas tecnologías para desarrollar
        soluciones innovadoras. 🚀
      </p>
    </article>
  </div>

  <div class="flex">
    <div class="py-4 flex flex-col gap-8">
      <CardTimeLine />
      <CardTimeLine />
      <CardTimeLine />
    </div>
  </div>
</section>
