---
import CardTimeLine from "../CardTimeLine.astro";
import { experiencia } from "../../consts/experience";
---

<section class="w-11/12 m-auto flex flex-col gap-8 my-16 sm:my-32 sm:gap-16 sm:flex-row">
  <article class="justify-center items-center flex-col flex sm:hidden">
    <div class="">
      <h4
        class="font-bold family-title text-4xl text-[#FF003D]"
        style="text-shadow: 2px 2px 15px #ff003c81;"
      >
        Experiencia
      </h4>
    </div>
  </article>
  <article class="justify-center items-center flex-col hidden sm:flex">
    <div class="-rotate-90 w-32 flex">
      <h4
        class="font-bold family-title text-8xl text-[#FF003D]"
        style="text-shadow: 2px 2px 15px #ff003c81;"
      >
        Experiencia
      </h4>
    </div>
  </article>
  <article class="flex w-full">
    <div class="py-4 flex flex-col gap-16">
      {experiencia.map((exp) => <CardTimeLine {...exp} />)}
    </div>
  </article>
</section>
