---
import CardTestimony from "../CardTestimony.astro"

---
<section class="w-11/12 m-auto flex flex-col gap-4 my-16 sm:my-32">
  <article class="flex justify-between items-center flex-col sm:flex-row">
    <h4
      class="font-bold family-title text-[#FF003D] text-4xl text-center sm:text-start sm:text-8xl"
      style="text-shadow: 2px 2px 25px #ff003c81;"
    >
      Comentarios de clientes
    </h4>
    <p class="text-gray-300 text-balance text-xs text-center sm:text-sm sm:w-[450px]">
      Tengo 2 años de experiencia en el desarrollo web, y he trabajado con
      clientes de forma freelancer. Aquí hay algunos de los comentarios que he
      recibido de ellos.
    </p>
  </article>
  <article
    class="flex gap-4 bg-[radial-gradient(circle,rgba(106,0,255,0.6166841736694677)_0%,rgba(255,255,255,0)_30%)]"
    style="mask-image: linear-gradient(#000 20%, transparent)"
  >
    <div
      class="mt-8 [column-fill:_balance] sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8"
    >
    <CardTestimony />
    <CardTestimony />
    <CardTestimony />
    <CardTestimony />
    <CardTestimony />
    <CardTestimony />
  </div>
</article>
</section>

<script></script>
