---
import ButtonAction from "../components/ButtonAction.astro";
import Layout from "../layouts/Layout.astro";
import IconCv from "../components/icons/Cv.astro";
import IconActive from "../components/icons/IconActive.astro";
import IconFlagArg from "../components/icons/IconFlagArg.astro";
---

<Layout title="Jairo Tumiri">
  <main class="text-white">
    <section class="flex flex-col justify-center items-center h-screen">
      <div class="flex flex-col gap-3 text-center font-bold">
        <h1 class="text-4xl sm:text-7xl family-title">Jairo Tumiri</h1>
        <h2 class="text-2xl sm:text-4xl">
          Desarrollador <span
            class="text-[#FF003D]"
            style="text-shadow: 2px 2px 15px #ff003d;">Full Stack</span
          >
        </h2>
        <p class="text-xs sm:text-base font-light">
          Fusionando creatividad y tecnología para ofrecer soluciones que
          inspiran
        </p>
      </div>
      <hr
        class="w-6/12 m-3 opacity-15"
        style=" border-top: 2px dotted white;background: transparent;"
      />
      <div class="flex flex-col gap-3 justify-center items-center">
        <ButtonAction
          text="Disponible para nuevos proyectos"
          color={1}
          className="block text-xs sm:hidden"
          href="https://www.linkedin.com/in/jairotumiri/"
        >
          <IconActive />
        </ButtonAction>
        
        <h3 class="flex justify-center items-center gap-4 text-center text-xs sm:text-base">
          Me encuentro en Buenos Aires, Argentina
        </h3>
        <IconFlagArg />
        <span class="flex gap-2">⌛<div id="hora"></div>(GMT-3)</span>
      </div>
      <hr class="w-6/12 m-3 opacity-15"
        style=" border-top: 2px dotted white;background: transparent;"
      />
      <div class="m-3 flex flex-col gap-4 justify-center items-center sm:flex-row">
        <ButtonAction
          text="Descargar Curriculum"
          color={0}
          className="text-sm sm:text-lg border border-gray-400"
          href="https://drive.google.com/file/d/146nRdfRrWB31rr8p5kIuq-pTg0fIJedy/view?usp=sharing"
        >
          <IconCv />
        </ButtonAction>
        <ButtonAction
          text="Contactar"
          color={1}
          className="text-sm sm:text-lg border"
          href="?push=form"
        />
      </div>
    </section>
  </main>
</Layout>

<script>
  function actualizarHora() {
    const fechaActual = new Date();
    const horaArgentina = new Intl.DateTimeFormat("es-AR", {
      timeZone: "America/Argentina/Buenos_Aires",
      hour: "2-digit",
      minute: "2-digit",
      hour12: false,
    }).format(fechaActual);
    const horaElement = document.getElementById("hora");
    if (horaElement) {
      horaElement.innerText = horaArgentina;
    }
  }
  setInterval(actualizarHora, 1000);
  actualizarHora();
</script>
