---
import Layout from "../layouts/Layout.astro";
import Testimons from "../components/sections/Testimons.astro";
import Experiens from "../components/sections/Experiens.astro";
import Presentation from "../components/sections/Presentation.astro";
---

<Layout title="Jairo Tumiri">
  <main class="text-white mt-24 flex flex-col gap-32">
    <Presentation />
    <Experiens />
    <Testimons />
  </main>
</Layout>
