<article class="relative w-full hover:opacity-75 cursor-pointer">
  <hr class="border-gray-600" />
  <div class="flex gap-8 justify-between items-center mt-2">
    <div class="flex flex-col gap-4">
      <h4
        class="family-title text-2xl font-bold text-gray-200"
      >
        Frontend Development.
      </h4>
      <p
      >
        2007
      </p>
    </div>
    <div>
      <p class="mt-2 w-full text-sm text-gray-400">
        Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
        sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.
      </p>
    </div>
  </div>
</article>
