---
import ButtonAction from './ButtonAction.astro'
import IconActive from '../icons/IconActive.astro'
---
<header
  class="fixed top-1 w-full flex justify-center items-center z-50"
>
  <div class="backdrop-blur-sm shadow-2xl bg-opacity-30 bg-black text-white w-10/12 font-medium flex gap-6 py-2 px-4 rounded-full m-auto justify-between items-center">
    <div class="text-sm flex gap-6">
      <a href="/">
        <img class="rounded-full h-6" src="/jt.svg" alt="" />
      </a>
      <a href="/#proyectos">Proyectos</a>
      <a href="/faq">FAQ</a>
    </div>
    <div>
      <ButtonAction
        text="Disponible"
        color={1}
        className="hidden text-xs sm:block"
        href="https://www.linkedin.com/in/jairotumiri/"
      >
        <IconActive />
      </ButtonAction>
    </div>
  </div>
</header>
