---
import ButtonAction from './ButtonAction.astro'
import IconActive from '../icons/IconActive.astro'
---
<div class="h-2"></div>
<header
  class="sticky top-0 backdrop-blur-sm shadow-2xl bg-opacity-30 bg-black text-white w-10/12 font-medium flex gap-6 py-2 px-4 rounded-full m-auto justify-between items-center"
>
  <div class="text-sm flex gap-6">
    <img class="rounded-full h-6" src="/jt.svg" alt="" />
    <a>Proyectos</a>
    <a>FAQ</a>
  </div>
  <div>
    <ButtonAction
      text="Disponible"
      color={1}
      className="text-xs"
      href="https://www.linkedin.com/in/jairotumiri/"
    >
      <IconActive />
    </ButtonAction>
  </div>
</header>
