.home {
  &__present,
  &__skills,
  &__proyect {
    max-width: 768px;
    padding: 0px 18px;
    margin: 2rem 0px;
    height: max-content;
  }
  &__present {
    justify-content: space-between;
    &Info {
      max-width: 500px;
      &Title {
        font-weight: 700;
        margin-bottom: 1rem;
        h1 {
          font-size: 1.5rem;
        }
        h3 {
          font-size: 2.5rem;
          span {
            text-shadow: 0 0 20px #ff0062;
          }
        }
      }
      &Text {
        max-width: 400px;
        font-size: 0.9rem;
        p {
          margin-bottom: 1rem;
        }
        a {
          text-shadow: 0 0 5px #ff0062;
          height: 3rem;
          width: 3rem;
          font-size: 1.5rem;
        }
      }
    }
    &Perfil {
      img {
        animation: 800ms ease-in-out 500ms 1 stiker;
        border-radius: 10rem 5rem;
        box-shadow: 5px 5px 15px #000;
        border: 8px solid #d1d0d0;
        width: 400px;
        pointer-events: none;
      }
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2 {
      font-size: 1.5rem;
      font-weight: 800;
    }
    &Aside {
      &Gif {
        height: max-content;
        width: 40%;
        img {
          border-radius: 5rem 10rem;
          box-shadow: 5px 5px 15px #000;
          border: 8px solid #d1d0d0;
          pointer-events: none;
          height: 15rem;
        }
      }
      &Items {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 60%;
        height: max-content;
        margin: auto;
        &--item {
          margin: auto;
          width: 80px;
          h4 {
            text-align: center;
            font-weight: 800;
          }
          img {
            margin: auto;
            width: max-content;
          }
        }
      }
    }
  }

  &__proyect {
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      span {
        text-shadow: 0 0 5px #ff0062;
      }
    }
  }
}

@keyframes stiker {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@media (max-width: 750px) {
  .home {
    &__present,
    &__skills,
    &__proyect {
      max-width: 420px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    &__present {
      flex-direction: column;
      &Info {
        width: 100%;
      }
      &Perfil {
        img {
          max-width: 300px;
        }
      }
    }
    &__skills {
      &Aside {
        flex-direction: column-reverse;
        &Items,
        &Gif {
          width: 100%;
          padding: 0.5rem 0px;
          margin: auto;
        }
        &Gif {
          img {
            margin: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .home {
    &__present,
    &__skills,
    &__proyect {
      padding: 0px 1rem;
    }
    &__present {
      gap: 1.2rem;
      .icon-redes {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        &:hover {
          background: none;
        }
      }
      h1 {
        font-size: 1.2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
      }
      &Perfil {
        height: auto;
        img {
          max-width: 200px;
        }
      }
    }
  }
}
