$ff-title: "Roboto Slab", serif;
$ff-text: "Comfortaa", cursive;
$color-blanco: #fff;
$color-negrooscuro: #15191e;
$color-negrogrisoscuro: #1d232a;
$color-negrogris: #2a323c;
$color-violeta: #9f006a;
$color-bordo: #6e0d25;
$color-rosa: #ff0062;

* .my-ff-title {
  font-family: $ff-title;
}

* .my-ff-text {
  font-family: $ff-text;
}

* .bg-principal {
  background-color: $color-negrooscuro;
}
* .bg-secundario {
  background-color: $color-negrogris;
}
* .bg-tercero {
  background-color: $color-negrogris;
}

* .flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* .flex-center {
  display: flex;
  align-items: center;
}

* .my-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  color: #ffffff;
  cursor: pointer;
  font-weight: 900;
  padding: 5px 10px;
  img {
    height: 15px;
  }
  p {
    font-size: 0.6rem;
  }
}

* .icon-redes {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  &:hover {
    text-shadow: none;
  }
}

* .btn {
  border-radius: 1rem;
  padding: 4px 16px;
  opacity: 0.6;
  &:hover {
    background: $color-rosa;
    box-shadow: 0 0 15px $color-rosa;
  }
}

* .totem {
  margin-right: 1rem;
  text-shadow: 0px 0px 15px $color-rosa;
  color: $color-rosa;
}

* .containerItems {
  margin: 1rem 0px;
  flex-direction: column;
  gap: 1rem;
  &Item {
    display: grid;
    gap: 1rem;
    &--item {
      cursor: pointer;
      transition: all 8ms ease;
      width: 100%;
      background: $color-negrogrisoscuro;
      p {
        color: #b9b9b9;
      }
      &:hover {
        background: #12151a;
        transform: translate(4px, 4px);
      }
    }
    &--btn {
      width: max-content;
      color: #fff;
      background: $color-rosa;
    }
  }
  &Btn {
    background: $color-negrogris;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
    border-radius: 1rem;
    &:hover {
      background: $color-negrogrisoscuro;
    }
  }
}

* .item-card-project {
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
  &-relative {
    overflow: hidden;
    position: relative;
    span {
      transition: all 200ms ease-in-out;
      background: #000000bd;
      backdrop-filter: blur(2px);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      h4 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
      }
      div {
        transition: all 200ms ease-in-out;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
      }
      &-len {
        font-size: 0.1rem;
      }
    }
    &:hover {
      span {
        backdrop-filter: blur(0px);
        div {
          opacity: 0;
        }
      }
    }
  }
  &-option {
    padding: 0.5rem 0px;
    background: #12151a;
    a {
      i {
        font-size: 1.2rem;
      }
    }
  }
}
