.header {
  // background-color: $color-negrooscuro;
  color: $color-blanco;
  height: 10vh;
  justify-content: space-between;
  &-img {
    height: 2.4rem;
  }
  &-menu {
    gap: 1rem;
    &-items {
      transition: all 200ms ease-in-out;
      padding: 8px 10px;
      font-size: 0.8rem;
      &:hover {
        background: $color-negrogris;
        border-radius: 1.5rem;
      }
    }
  }
}
