nav {
  position: sticky;
  top: 0;
  z-index: 60;
}
.header {
  backdrop-filter: blur(5px);
  color: $color-blanco;
  height: 10vh;
  justify-content: space-between;
  &-img {
    height: 2.4rem;
  }
  &-menu {
    gap: 1rem;
    &-items {
      transition: all 200ms ease-in-out;
      padding: 8px 10px;
      font-size: 0.8rem;
      &:hover {
        background: $color-negrogris;
        border-radius: 1.5rem;
      }
    }
  }
}

* .default-menu {
  background: #00000064;
  top: 0;
  height: 100vh;
  width: 250px;
  transition: width 500ms ease-in-out;
  transition: left 500ms ease-in-out;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    background: #15191e;
    width: 250px;
    li,
    .header-menu-items {
      font-size: 1rem;
    }
    li {
      padding: 0px 3rem;
    }
  }
}
* .on-menu {
  width: 100%;
  left: 0;
}
* .off-menu {
  width: 0;
  left: -100%;
}
