.recursos {
  &__items {
    max-width: 768px;
    padding: 0px 18px;
    height: max-content;
  }
  &__items {
    &Search {
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1.2rem;
      width: 100%;
      h2 {
        font-size: 2rem;
        font-weight: 700;
      }
      p {
        max-width: 668px;
      }
      input {
        width: 600px;
        border: none;
        outline: none;
        color: #000;
        border-radius: 1rem;
        padding: 4px 1rem;
      }
    }
    &Item {
      .containerItems {
        flex-direction: column;
        gap: 1rem;
        &Item {
          display: grid;
          gap: 1rem;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .recursos {
    &__items {
      max-width: 768px;
      padding: 0px 18px;
      height: max-content;
    }
    &__items {
      &Search {
        h2 {
          font-size: 1.5rem;
        }
        p,
        input {
          max-width: 350px;
          p {
            font-size: 0.9rem;
          }
        }
        &Item {
          .containerItems {
            width: 100%;
            &Item {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .recursos {
    &__items {
      &Search {
        p,
        input {
          width: 250px;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
