---
interface Props {
  title: string;
}
import IconRuido from "../icons/IconRuido.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Meta descripción mejorada -->
    <meta
      name="description"
      content="Jairo Tumiri - Desarrollador Frontend | Creación de interfaces modernas con React.js, Tailwind y tecnologías web avanzadas."
    />

    <!-- SEO -->
    <meta name="author" content="Jairo Tumiri" />
    <meta
      name="keywords"
      content="Desarrollo Web, Frontend, React.js, JavaScript, Full Stack, Tailwind, Node.js, C++, MongoDB"
    />

    <!-- Open Graph para compartir en redes sociales -->
    <meta property="og:title" content="Jairo Tumiri - Desarrollador Frontend" />
    <meta
      property="og:description"
      content="Especialista en desarrollo web con React.js, Tailwind y tecnologías modernas. Explora mi portafolio y descubre mis proyectos."
    />
    <meta property="og:image" content="/cap.jpg" />
    <meta property="og:url" content="https://jairotumiri.vercel.app" />
    <meta property="og:type" content="website" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Jairo Tumiri - Desarrollador Frontend"
    />
    <meta
      name="twitter:description"
      content="Explora mi portafolio con proyectos en React.js, Tailwind, y más."
    />
    <meta name="twitter:image" content="/cap.jpg" />

    <title>{title}</title>
  </head>

  <body>
    <div
      class="absolute h-full w-full bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:58px_58px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)] -z-10"
      data-astro-cid-sckkx6r4=""
    >
    </div>
    <IconRuido />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap");
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    /* background: linear-gradient(180deg, #130032 0%, #000000 54%); */
    background: rgb(2, 0, 36);
    background: linear-gradient(145deg, #000000 10%, #130032 25%, #000000 40%);
    /* height: 100vh; */
  }
  .family-title {
    font-family: "Righteous", cursive;
  }
</style>
